@using CarDealerApp.Extensions
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bri<span style="color: red">4</span>ka</h1>
    <p class="lead"> The BEST Car Dealer in Bulgaria. Also there are a lots of videos about different kinds of cars you would like!
       </p>
    <img src="http://www.clipartkid.com/images/420/illustration-of-a-red-cartoon-car-with-a-transparent-background-OWhFwB-clipart.png" alt="Car" width="400" height="400" />
    <p><a href="https://en.wikipedia.org/wiki/Car_dealership" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="embed-responsive embed-responsive-16by9">
    @Html.YouTube("wD5xFKIwTlw", width: 600, height: 400);

</div>
<hr style="width: 100%; color: black; height: 1px; background-color:black;" />
@Html.YouTube2(videoId: "qolMD25AhFk", width: 600, height: 400)
@Html.YouTube2("WzIan8u1Y-c", 600, 400)


    <div class="row">
        <div class="col-md-4">
            <h2>Car Dealer Magazine</h2>
            <p>
                Simple – it’s the only glossy, A4 monthly magazine for the motor trade, but with an emphasis on fun. We think business-to-business titles can be a bit boring, so every month we aim to produce a magazine that’s interesting to read.
            </p>
            <p><a class="btn btn-default" href="http://cardealermagazine.co.uk/publish/">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Deluxe Auto Sales</h2>
            <p>At Deluxe Auto Sales we have over 20 years of experience with high-line and luxury vehicles, we have sold over 20,000 vehicles. Pay us a visit and see why we have been around for so long.</p>
            <p><a class="btn btn-default" href="https://deluxeautosales.com">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Търсите Автомобили? - Cars.bg</h2>
            <p>Новите, buyback и употребявани автомобили от официалните вноcители за България, автомобили от водещите автокъщи и частни лица.</p>
            <p><a class="btn btn-default" href="http://www.cars.bg/">Learn more &raquo;</a></p>
        </div>
    </div>
