
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
@using (Html.BeginForm("Add", "Car", FormMethod.Post))
{
    <div class="form-group">
        <label for="make">Make: </label>
        <input type="text" value="" id="make" name="make" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="model">Model: </label>
        <input type="text" value="" id="model" name="model" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="travelled-distance">Travelled distance: </label>
        <input type="number" value="" id="travelled-distance" name="travelledDistance" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="parts">Parts: </label>
        <input type="text" value="" id="parts" name="parts" class="form-control"/>
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-default btn-lg"/>
    </div>
}
