<h1>Add Customer</h1>

<form method="post">
    <label for="name">Name: </label>
    <input type="text" value="" id="name" name="name"/>
    <br />
    
    <label for="BirthDate">Birthday: </label>
    <input type="date" value="" id="BirthDate" name="BirthDate" />
    <br />
    
    <input type="submit" value="Submit" />
</form>
