@model HandleErrorInfo
    
<h1>Sorry,an error occurred while proccessing your request.</h1>
<h2>Error: @Model.Exception.Message</h2>
<img src="http://wallpapercave.com/wp/r3BPFdb.jpg" alt="Sad face" class="img-rounded" width="500" height="400" />

