@model HandleErrorInfo
    
<h1>Sorry, an error occured.</h1>
<h2>Rangeerror: @Model.Exception.Message</h2>
<img src="http://wallpapercave.com/wp/r3BPFdb.jpg" alt="Sad face" class="img-responsive" />

