@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form method="post">
Username: <input type="text" name="userName" id="userName" /> <br />
Password: <input type="password" name="pwd" id="pwd" /> <br />

<input type="submit" value="login" />
</form>
